.about-pic {
    height: 700px;
    border: solid;
    border-width: 10px;
    position: relative;
    /* min-height: 500px; */
    background-attachment: fixed;
    /* background-position:top; */
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    background-size: 300px;
    border-radius: 3px;
    opacity: 0;
    animation: showMe 6s forwards;
    transition: width 2s;
    transition-timing-function: ease-in;
    font-size: 30px;
    background-color: #C9B178;
    font-family: 'La Belle Aurore';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
}
.text-box {
    border-radius: 3px;
    background-color: #C9B178;
    /* font-family: 'La Belle Aurore'; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
}

@keyframes showMe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bio-para {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.introDiv {
    margin: 0px;
}

.skills-cards {
    background-color: #aec496;
    position: relative;
    background: #cae4ae;
    border-radius: 3px;
    border: solid;
    box-shadow: 5px 5px 5px 1px black;
    font-family: 'La Belle Aurore';
    padding: 5px;
}