:root {
  --raisin-black: #252323ff;
  --slate-gray: #70798cff;
  --isabelline: #f5f1edff;
  --bone: #dad2bcff;
  --grullo: #a99985ff;
}

.header {
    /* background-color: var(--bone); */
    height: 100px;
  }
.about {
  color: var(--raisin-black);
  font-weight: 500;
}
.aboutMe {
  color: white;
}
.contact {
  color: var(--deep-taupe);
}
.resume:hover {
  background-color: var(--bone);
  color: var(--raisin-black);
}
.innerbox {
  box-shadow: 5px 5px 5px 1px black;
  color: white;
}
a {
  color: var(--raisin-black);
}
a:link {
  color: var(--raisin-black);
}
.navBorder, .name {
  position: relative;
  background: linear-gradient(var(--bone), var(--isabelline), var(--slate-gray));
  border-radius: 3px;
  border: solid;
  box-shadow: 5px 5px 5px 1px black;
  font-family: 'La Belle Aurore';
  padding: 5px;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


