:root {
  --pink-lavender: #e5beedff;
  --blue-bell: #9593d9ff;
  --cornflower-blue: #7c90dbff;
  --rhythm: #736b92ff;
  --deep-taupe: #7d5c65ff;
}
.nav-link {
  color: var(--pink-lavender);
}
.header {
    background-color: var(--deep-taupe);
    height: 100px;
  }
.about {
  color: white;
  font-weight: 500;
}
.contact {
  color: var(--deep-taupe);
}


