:root {
  --raisin-black: #252323ff;
  --slate-gray: #70798cff;
  --isabelline: #f5f1edff;
  --bone: #dad2bcff;
  --grullo: #a99985ff;
}

.header {
    background-color: var(--bone);
    height: 100px;
  }
.about {
  color: var(--raisin-black);
  font-weight: 500;
}
.contact {
  color: var(--deep-taupe);
}
.resume:hover {
  background-color: var(--bone);
  color: var(--raisin-black);
}
a {
  color: var(--raisin-black);
}
a:link {
  color: var(--raisin-black);
}


